.shadow {
  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
  box-shadow: none !important;
}

.pok-0 { left: 26%; bottom: 63%; }
.pok-1 { left: 48%; bottom: 14%; }
.pok-2 { left: 10%; bottom: 79%; }
.pok-3 { left: 5%; bottom: 24%; }
.pok-4 { left: 82%; bottom: 37%; }
.pok-5 { left: 15%; bottom: 63%; }
.pok-6 { left: 22%; bottom: 76%; }
.pok-7 { left: 8%; bottom: 56%; }
.pok-8 { left: 27%; bottom: 33%; }
.pok-9 { left: 70%; bottom: 41%; }
.pok-10 { left: 39%; bottom: 5%; }
.pok-11 { left: 66%; bottom: 15%; }
.pok-12 { left: 59%; bottom: 96%; }
.pok-13 { left: 73%; bottom: 62%; }
.pok-14 { left: 4%; bottom: 38%; }
.pok-15 { left: 91%; bottom: 29%; }
.pok-16 { left: 14%; bottom: 50%; }
.pok-17 { left: 85%; bottom: 26%; }
.pok-18 { left: 33%; bottom: 87%; }
.pok-19 { left: 3%; bottom: 8%; }
.pok-20 { left: 26%; bottom: 55%; }
.pok-21 { left: 20%; bottom: 72%; }
.pok-22 { left: 11%; bottom: 19%; }
.pok-23 { left: 67%; bottom: 34%; }
.pok-24 { left: 44%; bottom: 27%; }
.pok-25 { left: 53%; bottom: 46%; }
.pok-26 { left: 87%; bottom: 11%; }
.pok-27 { left: 9%; bottom: 66%; }
.pok-28 { left: 31%; bottom: 14%; }
.pok-29 { left: 68%; bottom: 40%; }
.pok-30 { left: 55%; bottom: 89%; }
.pok-31 { left: 64%; bottom: 43%; }
.pok-32 { left: 25%; bottom: 54%; }
.pok-33 { left: 19%; bottom: 7%; }
.pok-34 { left: 76%; bottom: 99%; }
.pok-35 { left: 30%; bottom: 86%; }
.pok-36 { left: 60%; bottom: 21%; }
.pok-37 { left: 7%; bottom: 18%; }
.pok-38 { left: 93%; bottom: 71%; }
.pok-39 { left: 45%; bottom: 13%; }
.pok-40 { left: 29%; bottom: 32%; }
.pok-41 { left: 1%; bottom: 20%; }
.pok-42 { left: 62%; bottom: 48%; }
.pok-43 { left: 35%; bottom: 66%; }
.pok-44 { left: 54%; bottom: 35%; }
.pok-45 { left: 72%; bottom: 78%; }
.pok-46 { left: 32%; bottom: 76%; }
.pok-47 { left: 78%; bottom: 10%; }
.pok-48 { left: 57%; bottom: 28%; }
.pok-49 { left: 88%; bottom: 68%; }
.pok-50 { left: 16%; bottom: 3%; }
.pok-51 { left: 47%; bottom: 80%; }
.pok-52 { left: 98%; bottom: 49%; }
.pok-53 { left: 24%; bottom: 30%; }
.pok-54 { left: 73%; bottom: 25%; }
.pok-55 { left: 39%; bottom: 48%; }
.pok-56 { left: 91%; bottom: 59%; }
.pok-57 { left: 12%; bottom: 8%; }
.pok-58 { left: 2%; bottom: 15%; }
.pok-59 { left: 69%; bottom: 73%; }
.pok-60 { left: 34%; bottom: 45%; }
.pok-61 { left: 49%; bottom: 39%; }
.pok-62 { left: 76%; bottom: 53%; }
.pok-63 { left: 58%; bottom: 37%; }
.pok-64 { left: 6%; bottom: 4%; }
.pok-65 { left: 80%; bottom: 61%; }
.pok-66 { left: 23%; bottom: 74%; }
.pok-67 { left: 65%; bottom: 10%; }
.pok-68 { left: 11%; bottom: 84%; }
.pok-69 { left: 17%; bottom: 2%; }
.pok-70 { left: 90%; bottom: 12%; }
.pok-71 { left: 40%; bottom: 81%; }
.pok-72 { left: 22%; bottom: 75%; }
.pok-73 { left: 63%; bottom: 70%; }
.pok-74 { left: 99%; bottom: 17%; }
.pok-75 { left: 81%; bottom: 69%; }
.pok-76 { left: 42%; bottom: 41%; }
.pok-77 { left: 86%; bottom: 65%; }
.pok-78 { left: 52%; bottom: 52%; }
.pok-79 { left: 13%; bottom: 32%; }
.pok-80 { left: 74%; bottom: 60%; }
.pok-81 { left: 33%; bottom: 34%; }
.pok-82 { left: 99%; bottom: 66%; }
.pok-83 { left: 37%; bottom: 85%; }
.pok-84 { left: 89%; bottom: 82%; }
.pok-85 { left: 84%; bottom: 51%; }
.pok-86 { left: 27%; bottom: 77%; }
.pok-87 { left: 1%; bottom: 15%; }
.pok-88 { left: 46%; bottom: 20%; }
.pok-89 { left: 61%; bottom: 63%; }
.pok-90 { left: 71%; bottom: 24%; }
.pok-91 { left: 95%; bottom: 50%; }
.pok-92 { left: 72%; bottom: 38%; }
.pok-93 { left: 43%; bottom: 14%; }
.pok-94 { left: 26%; bottom: 5%; }
.pok-95 { left: 11%; bottom: 83%; }
.pok-96 { left: 39%; bottom: 23%; }
.pok-97 { left: 83%; bottom: 9%; }
.pok-98 { left: 64%; bottom: 41%; }
.pok-99 { left: 8%; bottom: 22%; }
.pok-100 { left: 15%; bottom: 74%; }
.pok-101 { left: 24%; bottom: 83%; }
.pok-102 { left: 71%; bottom: 13%; }
.pok-103 { left: 57%; bottom: 30%; }
.pok-104 { left: 99%; bottom: 66%; }
.pok-105 { left: 92%; bottom: 42%; }
.pok-106 { left: 45%; bottom: 55%; }
.pok-107 { left: 65%; bottom: 70%; }
.pok-108 { left: 3%; bottom: 49%; }
.pok-109 { left: 89%; bottom: 1%; }
.pok-110 { left: 77%; bottom: 19%; }
.pok-111 { left: 84%; bottom: 77%; }
.pok-112 { left: 92%; bottom: 31%; }
.pok-113 { left: 67%; bottom: 39%; }
.pok-114 { left: 6%; bottom: 78%; }
.pok-115 { left: 91%; bottom: 77%; }
.pok-116 { left: 47%; bottom: 46%; }
.pok-117 { left: 80%; bottom: 35%; }
.pok-118 { left: 5%; bottom: 25%; }
.pok-119 { left: 88%; bottom: 16%; }
.pok-120 { left: 55%; bottom: 23%; }
.pok-121 { left: 38%; bottom: 3%; }
.pok-122 { left: 18%; bottom: 46%; }
.pok-123 { left: 34%; bottom: 10%; }
.pok-124 { left: 17%; bottom: 8%; }
.pok-125 { left: 48%; bottom: 60%; }
.pok-126 { left: 2%; bottom: 45%; }
.pok-127 { left: 65%; bottom: 62%; }
.pok-128 { left: 76%; bottom: 37%; }
.pok-129 { left: 4%; bottom: 11%; }
.pok-130 { left: 32%; bottom: 21%; }
.pok-131 { left: 50%; bottom: 7%; }
.pok-132 { left: 30%; bottom: 28%; }
.pok-133 { left: 41%; bottom: 80%; }
.pok-134 { left: 12%; bottom: 15%; }
.pok-135 { left: 25%; bottom: 64%; }
.pok-136 { left: 90%; bottom: 25%; }
.pok-137 { left: 3%; bottom: 58%; }
.pok-138 { left: 46%; bottom: 19%; }
.pok-139 { left: 7%; bottom: 6%; }
.pok-140 { left: 42%; bottom: 13%; }
.pok-141 { left: 19%; bottom: 58%; }
.pok-142 { left: 94%; bottom: 20%; }
.pok-143 { left: 83%; bottom: 11%; }
.pok-144 { left: 68%; bottom: 61%; }
.pok-145 { left: 94%; bottom: 47%; }
.pok-146 { left: 17%; bottom: 26%; }
.pok-147 { left: 15%; bottom: 28%; }
.pok-148 { left: 8%; bottom: 49%; }
.pok-149 { left: 61%; bottom: 65%; }
.pok-150 { left: 50%; bottom: 28%; }
